*venv*
.buildozer/
bin/

output/

.DS_Store
*.log
*.tmp
*.bak
*.swp
__pycache__/
*.pyc
.env
.idea/
.vscode/
node_modules/
coverage/
*.egg-info/
dist/
build/
.mypy_cache/
.pytest_cache/
.tox/
.cache/
.coverage
htmlcov/
pip-wheel-metadata/
celerybeat-schedule
instance/
.scrapy/
thumbs.db
*.sqlite3
*.db
*.pot
*.mo